fastapi==0.104.1
uvicorn==0.24.0
numpy==1.26.4
pandas==2.1.4
pydantic==2.4.2
requests==2.31.0

faiss-cpu==1.7.4

sentence-transformers==2.2.2
torch==2.1.2+cpu
torchvision==0.16.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
